.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 20rem; 
  margin: 10px 10px;
  text-align: center;
  font-family: arial;
}

.price {
  color: #12ab18;
  font-size: 26px; 
  text-shadow: #00000080 0.1em 0.1em 0.2em;
}
.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}